<section class="container">
    <form class="container__form">
        <input type="text" class="container__form__field" placeholder="Nombres completos">
        <input type="text" class="container__form__field" placeholder="Email">
        <input type="text" class="container__form__field" placeholder="Compañia o organizacion">
        <textarea cols="30" rows="7" class="container__form__field" placeholder="Mensaje"></textarea>
        <button type="submit">Enviar</button>
    </form>
    <div class="container__contacto">
        <label>Contactenos</label>
        <div class="container__contacto__redes">
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <p>
            Nuestra Direccion es: <br>
            C. Vieja 12-30 y, <br>
            Cuenca 010105 <br>
            Telefono: +593 0980782795
        </p>
        <img src="https://img.freepik.com/premium-vector/smart-phone-store-logo-vector_8169-118.jpg" alt="">
    </div>
</section>
