<div class="mancha-azul"></div>
<div class="container">
    <div class="container__seccion1">
        <h2>Iphone 15 Pro Max</h2>
        <p>
            ¡La Revolución Tecnológica Llega con el iPhone 15 Pro Max! Diseño Deslumbrante, Pantalla Vanguardista, Cámaras Épicas y un Rendimiento Inigualable. ¡Descubre el Poder del Futuro en tus Manos!
        </p>
        <div>
            <button>Comprar</button>
            <button>Ver mas</button>
        </div>
    </div>
    <div class="container__seccion2">
        <img src="https://media.extra.com/s/aurora/100345804_800/Apple-iPhone-15-Pro-Max%2C-5G%2C-6-7-inch%2C-256GB%2C-Blue-Titanium?locale=en-GB,en-*,*" alt="">
    </div>
</div>