<div class="container">
    <ul>
        
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="Titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
        <li class="container__item target">
            <div class="container__item__logo">
                <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/x/i/xiaomi-redmi-note-12s-doble-movistar.png" alt="">
            </div>
            <div class="container__item__des">
                <label id="titulo">Xiaomi</label>
                <p>Xiaomi - Celular Note 12S Negro | 256 GB</p>
            </div>
            <div class="container__item__price">
                <div>
                    <label id="price_old">$482,36</label>
                    <label id="price_new">$236,99</label>
                </div>
                <div>
                    <label id="price_title">Credito directo</label>
                    <label>15 Cuotas</label>
                    <label>28,24</label>
                </div>
            </div>
            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
        </li>
    </ul>
</div>
