<div class="container">
    <form class="container__form">
        <label class="container__form__title">Registrar Usuario</label>
        <i class="far fa-user"></i>
        <input type="text" class="container__form__field" placeholder="Nombres Completos">
        <input type="text" class="container__form__field" placeholder="Apellidos Completos">
        <input type="email" class="container__form__field" placeholder="Correo Electronico">
        <input type="password" class="container__form__field" placeholder="Contraseña">
        <input type="password" class="container__form__field" placeholder="Confirmar Contraseña">
        <input type="text" class="container__form__field" placeholder="Direccion">
        <label class="container__form__politica">Aceptas nuestras Condiciones, la Politica de privacidad y la Politica de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras</label>
        <button type="submit">Registrarse</button>

    </form>
</div>
