<div class="container">
    <h3>Forma de pago</h3>
    <div class="container__form">
        <div class="container__form__pay">
            <label>Elige la bandera de tu targeta de credito o debito</label>
            <ul>
                <li><input type="checkbox"> visa</li>
                <li><input type="checkbox">visa</li>
                <li><input type="checkbox">Master Card</li>
                <li><input type="checkbox">Dinners Club</li>
            </ul>
        </div>
        <div class="container__form__dates">
            <label>Ingrese los datos de tu targeta</label>
            <input type="text" placeholder="Numero de la targeta (Primeros 16 digitos)">
            <div>
                <label>Fecha de vencimiento</label>
                <input type="text" placeholder="Mes">
                <input type="text" placeholder="Año">
            </div>
            <input type="text" placeholder="Codigo de seguridad">
            <input type="text" placeholder="Titular de la targeta">
    
        </div>
    </div>
    <button type="submit">Confirmar</button>
</div>