<div class="container">
    <img src="https://www.teahub.io/photos/full/8-81631_nature-wallpapers-full-hd-full-hd.jpg">
  <div class="texto-encima">
    <h2>Sobre Nosotros</h2>
    <p>
        Nuestra Historia
        En [Nombre de tu empresa], nos apasiona ofrecer las últimas tecnologías en telefonía móvil a nuestros clientes desde [año de fundación]. Fundada por [nombre del fundador o fundadores], nuestra empresa comenzó como un pequeño negocio local en [ubicación], y desde entonces hemos crecido hasta convertirnos en [breve descripción del tamaño y alcance actual de la empresa].
    </p>
    <!-- <h2>Contáctanos</h2>
    <p>
        ¿Tienes alguna pregunta o comentario? ¡No dudes en ponerte en contacto con nosotros! Estamos aquí para ayudarte en todo lo que necesites. Puedes encontrarnos en [dirección], llamarnos al [número de teléfono] o enviarnos un correo electrónico a [correo electrónico].
    </p> -->
  </div>

</div>